name: Build Rust binaries

on:
  workflow_call:
    inputs:
      platform:
        description: Platforms to build for (comma-separated list)
        required: true
        type: string
      release:
        description: Whether to build for release or not
        required: false
        type: string
      upload_url:
        description: The URL to upload the binaries to
        required: false
        type: string

permissions:
  contents: read
  
jobs:
  matrix:
    name: Matrix
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Map matrix
        id: matrix
        uses: ./.github/actions/map-matrix
        with:
          platform: ${{ inputs.platform }}
          release: ${{ inputs.release }}
    outputs:
      result: ${{ steps.matrix.outputs.result }}

  build:
    name: ${{ matrix.build }}
    needs: matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: 
        include: ${{ fromJson(needs.matrix.outputs.result) }}
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install stable --profile minimal  
      - uses: Swatinem/rust-cache@v2
        id: cache
        with:
          prefix-key: rust-${{ inputs.release == 'true' && 'release' || 'debug' }}-${{ matrix.build }}-
          shared-key: ${{ hashFiles('**/Cargo.lock') }}
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Set OpenSSL environment variable
        run: echo "OPENSSL_DIR=/usr/lib/ssl" >> $GITHUB_ENV

      - name: Build binaries
        uses: houseabsolute/actions-rust-cross@v0
        with:
          args: ${{ inputs.release == 'true' && '--locked --release' || ''}}
          target: ${{ matrix.target }}

      - name: Move binaries
        shell: bash
        run: |
          mkdir -p ./bin/${{ matrix.target }}
          mv ${{ matrix.input }} ${{ matrix.output }}

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: ./bin/${{ matrix.target }}

      - name: Archive binaries
        if: inputs.release == 'true'
        run: 7z a ./bin/${{ matrix.target }}.zip ${{ matrix.output }}

      - name: Upload release assets
        if: inputs.release == 'true'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.REPLEX_PAT }}
        with:
          upload_url: ${{ inputs.upload_url }}
          asset_path: ./bin/${{ matrix.target }}.zip
          asset_name: ${{ matrix.target }}.zip
          asset_content_type: application/zip