name: Continuous Integration

on:
  push:
  workflow_call:
    inputs:
      release:
        description: Build for release
        required: false
        type: boolean
  workflow_dispatch:
    inputs:
      platform:
        description: Platform to build for
        required: true
        type: string
      release:
        description: Whether to build a release
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  setup:
    name: Setup CI
    if: | 
      github.head_ref != 'chore/update-version' &&
      github.event_name == 'push' ||
      github.event.name == 'workflow_call' ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - id: setup
        shell: bash
        run: |
          if [[ "${{ inputs.release }}" == "true" ]]; then"
            echo "platform=linux/amd64, linux/arm64, darwin/amd64, darwin/arm64, windows/amd64" >> $GITHUB_OUTPUT
          elif [[ "${{ inputs.platform }}" ]]; then
            echo "platform=${{ inputs.platform }}" >> $GITHUB_OUTPUT
          else
            echo "platform=linux/amd64, linux/arm64" >> $GITHUB_OUTPUT
          fi

          if [[ "${{ inputs.release }}" == "true" ]]; then
            echo "release=true" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == "refs/heads/main" ]] then
            echo "release=true" >> $GITHUB_OUTPUT
          else
            echo "release=false" >> $GITHUB_OUTPUT
          fi
    outputs:
      platform: ${{ steps.setup.outputs.platform }}
      release: ${{ steps.setup.outputs.release }}
     
  build:
    name: Build
    needs: setup
    uses: ./.github/workflows/build-rust.yml
    secrets: inherit
    with:
      platform: ${{ needs.setup.outputs.platform }}
      release: ${{ needs.setup.outputs.release == 'true' }}

  docker:
    if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
    name: Docker
    needs: build
    uses: ./.github/workflows/build-docker.yml
    secrets: inherit
    with:
      platform: 'linux/amd64, linux/arm64'
