name: CI Workflow

on:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      platform:
        description: Platform to build for
        type: choice
        default: linux
        options: ["all", "linux", "macos", "windows"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  set-platform:
    name: Set platform
    runs-on: ubuntu-latest
    outputs:
      platform: ${{ steps.set-platform.outputs.result }}

    steps:
      - name: Set platform
        id: set-platform
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            let platform = "";
            switch ("${{ github.event_name }}") {
              case "push":
                platform = "linux"
                break
              case 'release':
                platform = "all"
                break
              case 'workflow_dispatch':
                platform = "${{ github.event.inputs.platform }}"
                break
            }

            const platformMap = {
              all: "x86_64 Linux, ARM64 Linux, x86_64 macOS, ARM64 macOS, x86_64 Windows",
              linux: "x86_64 Linux, ARM64 Linux",
              macos: "x86_64 macOS, ARM64 macOS",
              windows: "x86_64 Windows",
            }

            return platformMap[platform];

  build-rust:
    name: Build
    needs: set-platform
    uses: ./.github/workflows/build-rust.yml
    secrets: inherit
    with:
      platform: ${{ needs.set-platform.outputs.platform }}
      release: ${{ github.event_name == 'release' }}

  build-docker:
    name: Build and push Docker image
    needs: build-rust
    uses: ./.github/workflows/build-docker.yml
    secrets: inherit
    with:
      platform: ${{ needs.build-rust.outputs.docker }}
