name: CI Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      platform:
        description: Platform to build for
        options: ["all", "linux", "macos", "windows"]
        required: true
        type: choice

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  setup:
    name: Setup CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Wait for cache
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.REPLEX_PAT }}
          wait-interval: 10
          running-workflow-name: Setup CI

      - name: Set platform
        id: set-platform
        uses: ./.github/actions/set-platform
        with:
          platform: ${{ inputs.platform }}
    outputs:    
      platform: ${{ steps.set-platform.outputs.result }}
    
  rust:
    name: Rust
    needs: setup
    uses: ./.github/workflows/build-rust.yml
    secrets: inherit
    with:
      platform: ${{ needs.setup.outputs.platform }}
      release: ${{ github.event_name == 'release' }}

  docker:
    name: Docker
    needs: [setup, rust]
    uses: ./.github/workflows/build-docker.yml
    secrets: inherit
    with:
      platform: ${{ needs.setup.outputs.platform }}
