name: Continuous Integration

on:
  push:
  workflow_dispatch:
  workflow_call:
    inputs:
      release:
        description: Whether to build a release
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  setup:
    name: Setup CI
    if: | 
      github.head_ref != 'chore/update-version' &&
      github.event_name == 'push' ||
      github.event.name == 'workflow_call' ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - id: platform
        shell: bash
        run: |
          if [[ "${{ inputs.release }}" == "true" ]]; then
            echo "result=linux/amd64, linux/arm64, darwin/amd64, darwin/arm64, windows/amd64" >> $GITHUB_ENV
          else
            echo "result=linux/amd64, linux/arm64" >> $GITHUB_ENV
          fi
    
    outputs:
      platform: ${{ steps.platform.outputs.result }}
     
  build:
    name: Build
    needs: setup
    uses: ./.github/workflows/build-rust.yml
    secrets: inherit
    with:
      platform: ${{ needs.setup.outputs.platform }}
      release: ${{ inputs.release == 'true' }}

  docker:
    if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
    name: Docker
    needs: build
    uses: ./.github/workflows/build-docker.yml
    secrets: inherit
    with:
      platform: 'linux/amd64, linux/arm64'
