name: Draft Release

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  release:
    name: Draft Release
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: release-drafter/release-drafter@v6
        env: 
          GITHUB_TOKEN: ${{ secrets.REPLEX_PAT }}