name: Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  DOCKER_TAG:

permissions:
  contents: read
  packages: read
  pull-requests: write

jobs:
  build_and_push:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Transform branch name to Docker tag
      id: sanitised
      run: |
        DOCKER_TAG=$(echo "${{ github.head_ref }}" | tr '[:upper:]' '[:lower:]' | sed -e 's/\//-/g' -e 's/[^a-z0-9.-]//g')
        DOCKER_TAG="pr-$DOCKER_TAG"
        echo "DOCKER_TAG=$DOCKER_TAG" >> $GITHUB_ENV
    
    - name: Rust build
      uses: ./.github/actions/rust-build

    - name: Docker build and push
      uses: ./.github/actions/docker-build-and-push
      with:
        tag: ${{ env.DOCKER_TAG }}
        token: ${{ secrets.REPLEX_PAT }}

    - name: Comment Docker image URL
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        message: |
          ## Docker Image URL
          A new Docker image has been built and pushed to the registry. You can pull it using the following command:
          ```sh
          docker pull ghcr.io/${{ github.repository }}:${{ env.DOCKER_TAG }}
          ```
          The image is available at [ghcr.io/${{ github.repository }}:${{ env.DOCKER_TAG }}](https://ghcr.io/${{ github.repository }}:${{ env.DOCKER_TAG }}).