name: Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

env: 
  PLATFORMS:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  validate:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.REPLEX_PAT }}

  label:
    name: Label PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.REPLEX_PAT }}

  build:
    name: Build
    needs: [validate, label]
    if: github.head_ref != 'chore/update-version'
    uses: ./.github/workflows/build-rust.yml
    secrets: inherit
    with:
      platform: "x86_64 Linux,ARM64 Linux,x86_64 macOS,ARM64 macOS"