name: Pull Request

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  validate:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.REPLEX_PAT }}

  label:
    name: Label PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.REPLEX_PAT }}

  build:
    name: Build - ${{ matrix.platform.release_for }}
    runs-on: ${{ matrix.platform.os }}
    needs: [validate, label]
    strategy:
      matrix:
        platform:
          - release_for: x86_64 Linux
            os: ubuntu-22.04
            docker: linux/amd64
            target: x86_64-unknown-linux-gnu
            bin: replex
            name: x86_64-unknown-linux-gnu.tar.gz
            command: build

          - release_for: ARM64 Linux
            os: ubuntu-22.04
            docker: linux/arm64
            target: aarch64-unknown-linux-gnu
            bin: replex
            name: aarch64-unknown-linux-gnu.tar.gz
            command: build

          - release_for: x86_64 macOS
            os: macOS-latest
            docker: darwin/amd64
            target: x86_64-apple-darwin
            bin: replex
            name: x86_64-apple-darwin.tar.gz
            command: build

          - release_for: ARM64 macOS
            os: macOS-latest
            target: aarch64-apple-darwin
            bin: replex
            name: aarch64-apple-darwin.tar.gz
            command: build

          - release_for: x86_64 Windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: replex.exe
            name: precious-Windows-x86_64.zip
            command: build

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
      
      - name: Cache cargo & target directories
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.platform.target }}
          save-if: "${{ github.ref == 'refs/heads/master' || github.event_name == 'pull_request' }}"

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: ${{ matrix.platform.command }}
          target: ${{ matrix.platform.target }}

      # - name: Move bin
      #   shell: bash
      #   run: |
      #     mkdir -p bin/${{ matrix.platform.target }}
      #     mv target/${{ matrix.platform.target }}/debug/re

    

  # build_and_push:
  #   name: Build and push Docker image
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       platform:
  #         - release_for: x86_64 Linux
  #           os: ubuntu-22.04
  #           docker: linux/amd64
  #           target: x86_64-unknown-linux-gnu
  #           bin: replex
  #           name: x86_64-unknown-linux-gnu.tar.gz
  #           command: build

  #   steps:
  #     - uses: actions/checkout@v4

      # - uses: dtolnay/rust-toolchain@stable
      
      # - name: Cache cargo & target directories
      #   uses: Swatinem/rust-cache@v2
      #   with:
      #     key: ${{ matrix.platform.target }}
      #     save-if: "${{ github.ref == 'refs/heads/master' || github.event_name == 'pull_request' }}"

      # - name: Build binary
      #   uses: houseabsolute/actions-rust-cross@v0
      #   with:
      #     command: ${{ matrix.platform.command }}
      #     target: ${{ matrix.platform.target }}

      # - name: Move bin
      #   shell: bash
      #   run: |
      #     mkdir -p bin/${{ matrix.platform.target }}
      #     mv target/${{ matrix.platform.target }}/debug/replex bin/${{ matrix.platform.target }}/${{ matrix.platform.bin }}

      # - name: Docker build and push
      #   uses: ./.github/actions/docker-build-and-push
      #   with:
      #     token: ${{ secrets.REPLEX_PAT }}