name: Push to develop

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: read

jobs:
  build_and_push:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Rust build (dry run)
      uses: rust-build/rust-build.action@v1.4.5
      with:
        RUSTTARGET: x86_64-unknown-linux-gnu
        UPLOAD_MODE: none
      env:
        GITHUB_TOKEN: ${{ secrets.REPLEX_PAT }}

    - name: Docker build and push
      uses: ./.github/actions/docker-build-and-push
      with:
        token: ${{ secrets.REPLEX_PAT }}
