name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  packages: write

jobs:
  update_release_draft:
    name: Update release draft
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v4

    - name: Release Drafter
      uses: release-drafter/release-drafter@v6
      with:
        commitish: refs/heads/main
      env:
        GITHUB_TOKEN: ${{ secrets.REPLEX_PAT }}
