name: Update Cargo Version

permissions:
  contents: write
  pull-requests: write

on:
  workflow_call:
    inputs:
      version:
        description: The version to update to
        required: true
        type: string

jobs:
  update-cargo:
    name: Update Cargo.toml version
    runs-on: ubuntu-24.04
    outputs:
      is_changed: ${{ steps.check-changes.outputs.is_changed }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install semantic-release-cargo
        uses: taiki-e/install-action@v2
        with:
          tool: semantic-release-cargo@2

      - name: Prepare semantic-release for Rust
        run: semantic-release-cargo prepare ${{ inputs.version }}

      - name: Check for changes
        id: check-changes
        shell: bash
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "is_changed=true" >> $GITHUB_OUTPUT
          else
            echo "is_changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Upload Cargo.toml
        uses: actions/upload-artifact@v4
        with:
          name: Cargo.toml
          path: ./Cargo.*

  push-changes:
    name: Commit & Push changes
    if: needs.update-cargo.outputs.is_changed == 'true'
    needs: update-cargo
    runs-on: ubuntu-24.04
    outputs:
      is_merged: ${{ steps.merge.outputs.result }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Cargo.toml
        uses: actions/download-artifact@v4
        with:
          name: Cargo.toml

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.REPLEX_PAT }}
          branch: chore/update-version
          message: 'Update Cargo.toml version to ${{ inputs.version }}'

      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.REPLEX_PAT }}
          base: main
          branch: chore/update-version
          title: "chore: update Cargo.toml version to ${{ inputs.version }}"
          body: "This PR updates the Cargo.toml version to ${{ inputs.version }}."
          labels: "cargo-bump"

      - name: Wait for PR checks
        if : ${{ steps.create-pr.outputs.pull-request-number }}
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: refs/pull/${{ steps.create-pr.outputs.pull-request-number }}/head
          running-workflow-name: 'Pull Request'
          repo-token: ${{ secrets.REPLEX_PAT }}
          wait-interval: 10

      - name: Merge Pull Request
        id: merge
        if : ${{ steps.create-pr.outputs.pull-request-number }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.REPLEX_PAT }}
          result-encoding: string
          script: |
            const merged = await github.rest.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: ${{ steps.create-pr.outputs.pull-request-number }},
              commit_message: '[skip ci] Merge Cargo.toml version update'
            });

            return merged.data.merged